<p style="font-family: Helvetica; font-size: 13px; font-weight: 100; color: #5D7C71">
Resource: <%= @event.resource.humanize %><br>
Site: <%= @event.segment.capitalize %><br>
<image></image><%= @event.moment %><br>
<%= @event.status %>
</p>
